# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/TicTacToe/v16
/x64/Debug/vc142.pdb
/x64/Debug/vc142.idb
/x64/Debug/TicTacToe.vcxproj.FileListAbsolute.txt
/x64/Debug/TicTacToe.tlog/TicTacToe.lastbuildstate
/x64/Debug/TicTacToe.tlog/link.write.1.tlog
/x64/Debug/TicTacToe.tlog/link.read.1.tlog
/x64/Debug/TicTacToe.tlog/link.command.1.tlog
/x64/Debug/TicTacToe.tlog/CL.write.1.tlog
/x64/Debug/TicTacToe.tlog/CL.read.1.tlog
/x64/Debug/TicTacToe.tlog/CL.command.1.tlog
/x64/Debug/TicTacToe.tlog
/x64/Debug/TicTacToe.pdb
/x64/Debug/TicTacToe.log
/x64/Debug/TicTacToe.ilk
/x64/Debug/TicTacToe.exe.recipe
/x64/Debug
